<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include("./head", {title: "トップ"}); %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="flex flex-col">
    <%- include("./header") %>
    <main class="container mx-auto p-1 md:p-1">
      <div>
        <p>
          スクレイピングでブログ情報を抽出したCSVとサムネイル画像を取得します。<br>取得したい記事のスラッグを、カンマで区切って入力してください。
        </p>
        <p class="mt-2">
          入力例）<span id="copy-text"
            >express-axios,node-express-ejs,react-context,show-more-class</span
          ><button
          type="button"
          data-twe-ripple-init
          data-twe-ripple-color="light"
          id="copy-button"
          class="inline-block rounded bg-primary px-2 pb-1 pt-1 ml-1 text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
          COPY
        </button>
        </p>
        <div class="form-area mt-4">
          <%- include("./form", {inputItemcodes: ""}) %>
        </div>
      </div>
    </main>
    <script>
      // クリップボードへコピー
      const copyButton = document.getElementById("copy-button");
      copyButton.addEventListener("click", () => {
        const targetText = document.getElementById("copy-text").textContent;
        copyToClipboard(targetText);
      });

      function copyToClipboard(tagValue) {
        if (navigator.clipboard) {
          navigator.clipboard.writeText(tagValue);
          copyButton.textContent="COPIED!";

          setTimeout(() => {
            copyButton.textContent="COPY";
          },500)
        }
      }
    </script>
    <%- include("./footer") %>
  </body>
</html>
