<footer class="mt-auto text-gray-600 body-font mt-0">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#678b9e" d="m12 .845l9.66 5.578v11.154L12 23.155l-9.66-5.578V6.423zm0 2.31L5.34 7L12 10.845L18.66 7zm7.66 5.577L13 12.577v7.69l6.66-3.844zM11 20.268v-7.69L4.34 8.731v7.69zM13 5v4h-2V5zm-3.098 9.366l-3.464 2l-1-1.732l3.464-2zm5.196-1.732l3.464 2l-1 1.732l-3.464-2z"/></svg>
        <span class="ml-3 text-xl">BlogScraperCSV</span>
      </a>
      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2024 BlogScraperCSV</p>     
    </div>
</footer>
<script
src="/tw-elements/dist/js/tw-elements.umd.min.js"
type="text/javascript"></script>